<div class="wrapper store_show">
    <div class="header">
        <%= link_to "ストア一覧に戻る", root_path %>
    </div>
    
    <hr>
    
    <div class="clearfix">
        <div class="title info">
            <%= label :store, :title %><%= @store.title %>
        </div>
        <p>/</p>
        <div class="artist info">
            <%= label :store, :artist %><%= @store.artist %>
        </div>
        
        <% if user_signed_in? && @store.user_id == current_user.id %>
            <div class="operation_store">
                <%= link_to "編集", edit_store_path, class: "btn btn-primary" %>
                <%= link_to "削除", store_path, method: :delete, class: "btn btn-danger", data: {confirm: "削除してよろしいですか？"} %>
            </div>
        <% end %>
    </div>
    <hr>
    <div class="clearfix">
        <div class="col-md-5 info">
            <div>
                <%= label :store, :release_date %><br />
                <%= @store.release_date %>
            </div>
            <div>
                <%= label :store, :genre_ids %><br />
                <%= render 'stores/genre_list', store: @store %>
            </div>
            <div>
                <%= label :store, :comment %><br />
                <%= @store.comment %>
            </div>
        </div>
        <div class="col-md-7">
            <div class="big_image">
                <%= image_tag @store.store_images.first.image.url, id: 'big_image' %>
            </div>
            
            <ul class="small_images">
                <% @store.store_images.each do |si| %>
                  <% if si.image? %>
                    <li>
                      <%= image_tag si.image.url %>
                    </li>
                  <% end %>
                <% end %>
            </ul>
        </div>
    </div>
    
    <% if user_signed_in? %>
    <div class="my_review_wrapper">
      <% if @review %>
        <%= form_for @review do |f| %>
          <%= f.cktext_area :body, rows: 3, placeholder: 'レビューを書く' %>
          <div class="footer_menu clearfix">
            <div class="review_post">
              <%= f.submit 'レビュー', class: 'btn btn-primary' %>
            </div>
          </div>
          <%= f.hidden_field :store_id, value: @store.id %>
        <% end %>
      <% else %>
        <p>レビュー済みです</p>
      <% end %>
    </div>
  <% end %>

  <hr>

  <div class="review_list_wrapper">
    レビュー数 <%= @store.reviews.length %>

    <div class="review_list">
      <% @store.reviews.each do |review| %>
        <%= render 'reviews/per_review', review: review %>
      <% end %>
    </div>
  </div>
  
</div>